.carousel {
  position: relative;
  height: 600px;
  width: 600px;
  margin: 0 auto;
}

.carousel-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-images{
  position: relative;
  height: 100%;
  width:100%;
  overflow: hidden;
}

.carousel-list{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.fa-solid{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 50px;
}

.carousel-nav{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.carousel-indicator{
  border: 0;
  border-radius:200px;
  width: 20px;
  height: 20px;
  background-color: black;
  margin: 0 5px;
}

.column-one-fourth{
  display: flex;
  justify-content: space-between;
}
