html {
  font-size: 22px;

  /* hello world */
}

.page-title {
  font-size: 3rem;
  text-align: center;

  /* your code here */
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 100px;
  margin-top: 80px;
}
